.highlighter-rouge table td, .highlight table td { padding: 5px; }
.highlighter-rouge table pre, .highlight table pre { margin: 0; }
div.highlighter-rouge, .highlight, .highlight .w {
  color: #f8f8f2;
  background-color: #272822;
}
.highlighter-rouge .err, .highlight .err {
  color: #272822;
  background-color: #f92672;
}
.highlighter-rouge .c, .highlight .c, 
.highlighter-rouge .cd, .highlight .cd, 
.highlighter-rouge .cm, .highlight .cm, 
.highlighter-rouge .c1, .highlight .c1, 
.highlighter-rouge .cs, .highlight .cs {
  color: #75715e;
}
.highlighter-rouge .cp, .highlight .cp {
  color: #f4bf75;
}
.highlighter-rouge .nt, .highlight .nt {
  color: #f4bf75;
}
.highlighter-rouge .o, .highlight .o, .highlighter-rouge .ow, .highlight .ow {
  color: #f8f8f2;
}
.highlighter-rouge .p, .highlight .p, .highlighter-rouge .pi, .highlight .pi {
  color: #f8f8f2;
}
.highlighter-rouge .gi, .highlight .gi {
  color: #a6e22e;
}
.highlighter-rouge .gd, .highlight .gd {
  color: #f92672;
}
.highlighter-rouge .gh, .highlight .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.highlighter-rouge .k, .highlight .k, 
.highlighter-rouge .kn, .highlight .kn, 
.highlighter-rouge .kp, .highlight .kp, 
.highlighter-rouge .kr, .highlight .kr, 
.highlighter-rouge .kv, .highlight .kv {
  color: #ae81ff;
}
.highlighter-rouge .kc, .highlight .kc {
  color: #fd971f;
}
.highlighter-rouge .kt, .highlight .kt {
  color: #fd971f;
}
.highlighter-rouge .kd, .highlight .kd {
  color: #fd971f;
}
.highlighter-rouge .s, .highlight .s, 
.highlighter-rouge .sb, .highlight .sb, 
.highlighter-rouge .sc, .highlight .sc, 
.highlighter-rouge .sd, .highlight .sd, 
.highlighter-rouge .s2, .highlight .s2, 
.highlighter-rouge .sh, .highlight .sh, 
.highlighter-rouge .sx, .highlight .sx, 
.highlighter-rouge .s1, .highlight .s1 {
  color: #a6e22e;
}
.highlighter-rouge .sr, .highlight .sr {
  color: #a1efe4;
}
.highlighter-rouge .si, .highlight .si {
  color: #cc6633;
}
.highlighter-rouge .se, .highlight .se {
  color: #cc6633;
}
.highlighter-rouge .nn, .highlight .nn {
  color: #f4bf75;
}
.highlighter-rouge .nc, .highlight .nc {
  color: #f4bf75;
}
.highlighter-rouge .no, .highlight .no {
  color: #f4bf75;
}
.highlighter-rouge .na, .highlight .na {
  color: #66d9ef;
}
.highlighter-rouge .m, .highlight .m, 
.highlighter-rouge .mf, .highlight .mf, 
.highlighter-rouge .mh, .highlight .mh, 
.highlighter-rouge .mi, .highlight .mi, 
.highlighter-rouge .il, .highlight .il, 
.highlighter-rouge .mo, .highlight .mo, 
.highlighter-rouge .mb, .highlight .mb, 
.highlighter-rouge .mx, .highlight .mx {
  color: #a6e22e;
}
.highlighter-rouge .ss, .highlight .ss {
  color: #a6e22e;
}

.highlighter-rouge, figure.highlight {
   font-size: 15px;line-height: 15.5px;
}
.highlighter-rouge code, 
.highlighter-rouge .code,
.highlighter-rouge .lineno, 
figure.highlight code,
.highlighter-rouge div.highlight table {
  font-size: 0.83em;
}
pre.highlight, figure.highlight > pre { padding: 10px }

.highlighter-rouge > table, .highlight table{ margin: 0; }
.highlighter-rouge > table td, .highlight table td{ border-top: 0px;line-height: 15.5px; }
.highlight > pre table {margin: -10px}
.highlighter-rouge > table {margin: 0}
.highlighter-rouge > table .code {background-color: transparent;}

.highlighter-rouge .gutter.gl,.highlight .gutter.gl {
    border-right: 1px solid #555;
    padding: 5px 5px 0 0;
    text-align: right;
    width: 1%;
    
    background-color: transparent;
    font-size: 1em;

    -webkit-user-select: none;      
    -moz-user-select: none; 
    -ms-user-select: none; 

    -o-user-select: none;
    user-select: none;
}
.highlighter-rouge .gutter.gl .lineno, .highlight .gutter.gl .lineno{width: 30px;}

.highlight > pre { white-space: pre; overflow: auto; }
.highlighter-rouge { overflow: auto; }

/* ocultando errores de twig */
.language-twig .err{background-color: transparent; color: inherit;}
/* comentarios php */
.language-php .sd { color: #94BF8F }

code.highlighter-rouge {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 1px 1px 0 1px #eee;
    padding: 0 2px;
    font-size: 14px;
    letter-spacing: -0.2px;
}